.main_header_block {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, #14229F 12.34%, #3E61C8 100%) !important;
    box-shadow: 0 4px 28px rgba(126, 137, 163, 0.2);
    z-index: 400;
}

.header_block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    height: 78px;
    padding: 0 !important;
}

.logo_container {
    cursor: pointer;
    padding-left: 40px;
    filter: drop-shadow(0px 6px 18px rgba(126, 137, 163, 0.2));
    z-index: 501;
}

.logo {
    position: relative;
    top: 34px;
}

.buttons_block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    margin-right: 15px;
}
@media (max-width: 500px) {
    .logo_container {
        display: none;
    }
    .buttons_block {
        margin-right: 0;
    }
}