.main_block {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content_grid_block {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 100px auto;
}

.upload_block {
  position: relative;
  width: 35%;
  padding-right: 50px;
}

.photo_list_block {
  width: 95%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .content_grid_block {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .photo_list_block {
    width: 90%;
  }
  .upload_block {
    padding: 0 10px;
    width: 100%;
  }
}